In [1]:
# Contoh membuat DataFrame sederhana dan operasi dasar
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('HandsOnPertemuan3').getOrCreate()

data = [('James', 'Sales', 3000),
        ('Michael', 'Sales', 4600),
        ('Robert', 'Sales', 4100),
        ('Maria', 'Finance', 3000)]
columns = ['EmployeeName', 'Department', 'Salary']

df = spark.createDataFrame(data, schema=columns)
df.show()

df.printSchema()

+------------+----------+------+
|EmployeeName|Department|Salary|
+------------+----------+------+
|       James|     Sales|  3000|
|     Michael|     Sales|  4600|
|      Robert|     Sales|  4100|
|       Maria|   Finance|  3000|
+------------+----------+------+

root
 |-- EmployeeName: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: long (nullable = true)

In [ ]:
# Tugas 2
print("Filtering data")
df.select('EmployeeName', 'Salary').show()

print("Data yang memiliki penjualan 3000 keatas")
df.filter(df['Salary'] > 3000).show()

print("Rata-Rata Penjualan")
from pyspark.sql.functions import avg, max, sum
df.groupBy('Department').agg(avg("Salary")).show()

print("Maximal Penjualan")
df.groupBy('Department').agg(max("Salary")).show()

print("Total Penjualan")
df.groupBy('Department').agg(sum("Salary")).show()

Filtering data
+------------+------+
|EmployeeName|Salary|
+------------+------+
|       James|  3000|
|     Michael|  4600|
|      Robert|  4100|
|       Maria|  3000|
+------------+------+

Data yang memiliki penjualan 3000 keatas
+------------+----------+------+
|EmployeeName|Department|Salary|
+------------+----------+------+
|     Michael|     Sales|  4600|
|      Robert|     Sales|  4100|
+------------+----------+------+

Rata-Rata Penjualan
+----------+-----------+
|Department|avg(Salary)|
+----------+-----------+
|     Sales|     3900.0|
|   Finance|     3000.0|
+----------+-----------+

Maximal Penjualan
+----------+-----------+
|Department|max(Salary)|
+----------+-----------+
|     Sales|       4600|
|   Finance|       3000|
+----------+-----------+

Total Penjualan
+----------+-----------+
|Department|sum(Salary)|
+----------+-----------+
|     Sales|      11700|
|   Finance|       3000|
+----------+-----------+

In [ ]:
#Tugas 3
print("Data Bonus")
df_with_bonus = df.withColumn('SalaryBonus', df['Salary'] * 0.1)
df_with_bonus.show()

print("Total Compensation")
df_total_comp = df_with_bonus.withColumn('TotalCompensation', df_with_bonus['Salary'] + df_with_bonus['SalaryBonus'])
df_total_comp.show()

Data Bonus
+------------+----------+------+-----------+
|EmployeeName|Department|Salary|SalaryBonus|
+------------+----------+------+-----------+
|       James|     Sales|  3000|      300.0|
|     Michael|     Sales|  4600|      460.0|
|      Robert|     Sales|  4100|      410.0|
|       Maria|   Finance|  3000|      300.0|
+------------+----------+------+-----------+

Total Compensation
+------------+----------+------+-----------+-----------------+
|EmployeeName|Department|Salary|SalaryBonus|TotalCompensation|
+------------+----------+------+-----------+-----------------+
|       James|     Sales|  3000|      300.0|           3300.0|
|     Michael|     Sales|  4600|      460.0|           5060.0|
|      Robert|     Sales|  4100|      410.0|           4510.0|
|       Maria|   Finance|  3000|      300.0|           3300.0|
+------------+----------+------+-----------+-----------------+

In [ ]:
#Tugas 4
from pyspark.sql.window import Window
from pyspark.sql import functions as F

print("Rank")
windowSpec = Window.partitionBy('Department').orderBy('Salary')
df.withColumn('Rank', F.rank().over(windowSpec)).show()

print("Running Total")
df.withColumn("Running_Total", F.sum("Salary").over(windowSpec)).show()

Rank
+------------+----------+------+----+
|EmployeeName|Department|Salary|Rank|
+------------+----------+------+----+
|       Maria|   Finance|  3000|   1|
|       James|     Sales|  3000|   1|
|      Robert|     Sales|  4100|   2|
|     Michael|     Sales|  4600|   3|
+------------+----------+------+----+

Running Total
+------------+----------+------+-------------+
|EmployeeName|Department|Salary|Running_Total|
+------------+----------+------+-------------+
|       Maria|   Finance|  3000|         3000|
|       James|     Sales|  3000|         3000|
|      Robert|     Sales|  4100|         7100|
|     Michael|     Sales|  4600|        11700|
+------------+----------+------+-------------+

In [ ]:
#Tugas 5
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.12/dist-packages (1.7.4.5)
Requirement already satisfied: bleach in /usr/local/lib/python3.12/dist-packages (from kaggle) (6.2.0)
Requirement already satisfied: certifi>=14.05.14 in /usr/local/lib/python3.12/dist-packages (from kaggle) (2025.8.3)
Requirement already satisfied: charset-normalizer in /usr/local/lib/python3.12/dist-packages (from kaggle) (3.4.3)
Requirement already satisfied: idna in /usr/local/lib/python3.12/dist-packages (from kaggle) (3.10)
Requirement already satisfied: protobuf in /usr/local/lib/python3.12/dist-packages (from kaggle) (5.29.5)
Requirement already satisfied: python-dateutil>=2.5.3 in /usr/local/lib/python3.12/dist-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.12/dist-packages (from kaggle) (8.0.4)
Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (from kaggle) (2.32.4)
Requirement already satisfied: setuptools>=21.0.0 in /usr/local/lib/python3.12/dist-packages (from kaggle) (75.2.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.12/dist-packages (from kaggle) (1.17.0)
Requirement already satisfied: text-unidecode in /usr/local/lib/python3.12/dist-packages (from kaggle) (1.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.12/dist-packages (from kaggle) (4.67.1)
Requirement already satisfied: urllib3>=1.15.1 in /usr/local/lib/python3.12/dist-packages (from kaggle) (2.5.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.12/dist-packages (from kaggle) (0.5.1)
cp: cannot stat 'kaggle.json': No such file or directory
chmod: cannot access '/root/.kaggle/kaggle.json': No such file or directory

In [3]:
from pyspark.sql import functions as SparkFuncs
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Praktikum").getOrCreate()

dataframe = spark.read.csv("coffe sales1.csv", header=True, inferSchema=True)
dataframe.show()

+----------+--------------------+---------+-------------------+-----+-------------------+
|      date|            datetime|cash_type|               card|money|        coffee_name|
+----------+--------------------+---------+-------------------+-----+-------------------+
|2024-03-01|2024-03-01 10:15:...|     card|ANON-0000-0000-0001| 38.7|              Latte|
|2024-03-01|2024-03-01 12:19:...|     card|ANON-0000-0000-0002| 38.7|      Hot Chocolate|
|2024-03-01|2024-03-01 12:20:...|     card|ANON-0000-0000-0002| 38.7|      Hot Chocolate|
|2024-03-01|2024-03-01 13:46:...|     card|ANON-0000-0000-0003| 28.9|          Americano|
|2024-03-01|2024-03-01 13:48:...|     card|ANON-0000-0000-0004| 38.7|              Latte|
|2024-03-01|2024-03-01 15:39:...|     card|ANON-0000-0000-0005| 33.8|Americano with Milk|
|2024-03-01|2024-03-01 16:19:...|     card|ANON-0000-0000-0006| 38.7|      Hot Chocolate|
|2024-03-01|2024-03-01 18:39:...|     card|ANON-0000-0000-0007| 33.8|Americano with Milk|
|2024-03-01|2024-03-01 19:22:...|     card|ANON-0000-0000-0008| 38.7|              Cocoa|
|2024-03-01|2024-03-01 19:23:...|     card|ANON-0000-0000-0008| 33.8|Americano with Milk|
|2024-03-01|2024-03-01 19:29:...|     card|ANON-0000-0000-0009| 33.8|Americano with Milk|
|2024-03-02|2024-03-02 10:22:...|     card|ANON-0000-0000-0010| 28.9|          Americano|
|2024-03-02|2024-03-02 10:30:...|     cash|               NULL| 40.0|              Latte|
|2024-03-02|2024-03-02 10:41:...|     card|ANON-0000-0000-0011| 33.8|Americano with Milk|
|2024-03-02|2024-03-02 11:59:...|     card|ANON-0000-0000-0012| 33.8|Americano with Milk|
|2024-03-02|2024-03-02 14:38:...|     card|ANON-0000-0000-0013| 28.9|          Americano|
|2024-03-02|2024-03-02 16:37:...|     card|ANON-0000-0000-0014| 33.8|Americano with Milk|
|2024-03-02|2024-03-02 17:34:...|     card|ANON-0000-0000-0004| 28.9|          Americano|
|2024-03-03|2024-03-03 10:10:...|     cash|               NULL| 40.0|              Latte|
|2024-03-03|2024-03-03 10:27:...|     card|ANON-0000-0000-0015| 38.7|              Latte|
+----------+--------------------+---------+-------------------+-----+-------------------+
only showing top 20 rows

In [6]:
#Filter Data
from pyspark.sql import functions as F
from pyspark.sql import SparkSession

result = dataframe.select("date", "cash_type", "card", "money") \
    .filter(F.col("coffee_name") == "Latte")

result.show(truncate=False)

+----------+---------+-------------------+-----+
|date      |cash_type|card               |money|
+----------+---------+-------------------+-----+
|2024-03-01|card     |ANON-0000-0000-0001|38.7 |
|2024-03-01|card     |ANON-0000-0000-0004|38.7 |
|2024-03-02|cash     |NULL               |40.0 |
|2024-03-03|cash     |NULL               |40.0 |
|2024-03-03|card     |ANON-0000-0000-0015|38.7 |
|2024-03-04|card     |ANON-0000-0000-0001|38.7 |
|2024-03-04|card     |ANON-0000-0000-0021|38.7 |
|2024-03-05|card     |ANON-0000-0000-0001|38.7 |
|2024-03-05|card     |ANON-0000-0000-0023|38.7 |
|2024-03-05|card     |ANON-0000-0000-0024|38.7 |
|2024-03-07|cash     |NULL               |40.0 |
|2024-03-07|card     |ANON-0000-0000-0031|38.7 |
|2024-03-07|cash     |NULL               |40.0 |
|2024-03-08|card     |ANON-0000-0000-0036|38.7 |
|2024-03-08|card     |ANON-0000-0000-0037|38.7 |
|2024-03-09|card     |ANON-0000-0000-0041|38.7 |
|2024-03-10|cash     |NULL               |40.0 |
|2024-03-10|card     |ANON-0000-0000-0046|38.7 |
|2024-03-11|cash     |NULL               |40.0 |
|2024-03-11|card     |ANON-0000-0000-0047|38.7 |
+----------+---------+-------------------+-----+
only showing top 20 rows

In [12]:
money_count = dataframe.groupBy("money").count().orderBy(F.desc("count"))

# Get the most common money value
most_common_money = money_count.first()["money"]

# Filter the original dataframe based on the most common money value and select relevant columns
result = dataframe.filter(F.col("money") == most_common_money) \
                 .select("date", "cash_type", "card", "money", "coffee_name")

result.show(truncate=False)

+----------+---------+-------------------+-----+-------------+
|date      |cash_type|card               |money|coffee_name  |
+----------+---------+-------------------+-----+-------------+
|2024-09-28|card     |ANON-0000-0000-0507|35.76|Latte        |
|2024-09-28|card     |ANON-0000-0000-0683|35.76|Latte        |
|2024-09-28|card     |ANON-0000-0000-0445|35.76|Latte        |
|2024-09-28|card     |ANON-0000-0000-0685|35.76|Latte        |
|2024-09-28|card     |ANON-0000-0000-0686|35.76|Cappuccino   |
|2024-09-28|card     |ANON-0000-0000-0686|35.76|Cocoa        |
|2024-09-28|card     |ANON-0000-0000-0687|35.76|Hot Chocolate|
|2024-09-29|card     |ANON-0000-0000-0172|35.76|Cappuccino   |
|2024-09-29|card     |ANON-0000-0000-0172|35.76|Cappuccino   |
|2024-09-29|card     |ANON-0000-0000-0172|35.76|Cappuccino   |
|2024-09-29|card     |ANON-0000-0000-0683|35.76|Latte        |
|2024-09-29|card     |ANON-0000-0000-0602|35.76|Latte        |
|2024-09-29|card     |ANON-0000-0000-0688|35.76|Latte        |
|2024-09-29|card     |ANON-0000-0000-0689|35.76|Cappuccino   |
|2024-09-29|card     |ANON-0000-0000-0690|35.76|Latte        |
|2024-09-30|card     |ANON-0000-0000-0692|35.76|Hot Chocolate|
|2024-09-30|card     |ANON-0000-0000-0507|35.76|Latte        |
|2024-09-30|card     |ANON-0000-0000-0631|35.76|Latte        |
|2024-10-01|card     |ANON-0000-0000-0696|35.76|Latte        |
|2024-10-01|card     |ANON-0000-0000-0637|35.76|Hot Chocolate|
+----------+---------+-------------------+-----+-------------+
only showing top 20 rows